.contents {
    margin-top: 92px;
}
.nav-mob {
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 75px;
    z-index: 99999999;
    background: #fff;
}
.ad {
    float: left;
    position: relative;
    top: 10px;
    text-align: center;
    width: 100%;
}
#logo {
    width: 150px
}
#search {
    padding: 10px 0px;
    color: #000;
}
#q {
    padding: 5px 10px;
    width: 230px;
    color: #000;
    border: 1px solid;
    border-radius: 100px;
}
#q:focus {
    outline: none;
    border-color: #FF5722;
}
.navigation {
    padding: 5px;
    float: left;
}
.nav-mob li {
    list-style: none;
    float: left;
    padding: 5px;
    font-size: 14px;
    margin: 2px;
}
.nav-mob li a {
    color: #000;
}
::placeholder {
 color:#000   
}
.gsc-control-cse.gsc-control-cse-en {
    background: none;
    border: 0;
}
#PopularPosts2 {
    text-align: center;
    margin: 0 auto;
    width: 300px;
display:none
}
body.loading.mobile.noscroll {
overflow:hidden
  }
.o-trend {
    box-shadow: 0px 2px 5px #bbb;
    border-radius: 100px;
    cursor: pointer;
    z-index: 9999999;
    background: red;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    float: right;
    margin: 10px 5px;
}
.o-trend:hover {
    color: #fff;
    text-decoration: none;
}
a.x-trend {
    position: fixed;
    font-size: 30px;
    color: #ef5858;
    z-index: 999;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0px 2px 5px #bbb;
    border-radius: 70px;
    right: -10px;
    top: -15px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 13px;
}
.trend-mobile {
    position: fixed;
    height: 100%;
    z-index: 9999999999;
    overflow-x: hidden;
    top: 10px;
}
.trend-shadow {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999999;
    background: #fff;
}
.trend-mobile ul {
    padding: 0;
    margin: 0;
}
.trend-mobile ul li {
    list-style: none;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    width: 300px;
    padding: 0;
}
.trend-mobile .item-thumbnail {
    float: none;
    margin: 0;
}
.trend-mobile img {
    margin-right: 0;
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 0;
    width: 300px;
    height: 160px;
}
.trend-mobile .item-title {
    text-align: left;
    float: left;
}
.trend-mobile li a {
    color: #444;
    font-weight: bold;
    font-size: 16px;
    font-family: arial,sans-serif;
}
.trend-mobile a:hover {
    color: #222;
    text-decoration: none;
}
#main {
    font-size: 14px;
}
.separator:first-child {
    display: none;
}
.post-title.entry-title {
font-size:23px;
padding-top:5px;
}
.mobile {
overflow-x:hidden;
background:#eee;
}
.mobile-date-outer.date-outer {
    background: #fff;
    border: 0;
    padding: 10px;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 8px #cac9c9;
    border-radius: 3px;
}
.mobile-post-outer a {
    text-decoration: none;
}
.Image img {
    width: 100%;
    height: 150px;
    border: 1px solid #ddd;
}
.mobile-index-title.entry-title {
    font-size: 17px;
    font-weight: normal;
    color: #212121;
    text-decoration: none;
    margin: 5px 0px;
}
.widget-content {
position:relative;
top:5px;
}
.left {
position:relative;
bottom:5px;
}
html {
position:relative;
bottom:15px;
}
.main-inner .date-outer {
background:#fff;
}
.post h2 {
font-size:16px;
padding:10px 0;
}
body {
    background: #fff;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    margin: 0;
}
a {
color:#FF5722;
text-decoration:none;
}

a:hover {
text-decoration:underline;
color:#FF5722;
}

a:visited {
color:#888;
}

.separator {
padding-top:15px;
}

.post {
padding:0 5px;
}
#my-content {
z-index:9999;
position:absolute;
width:100%;
top:0;
}
.published {
display:none;
}
@media screen and max-width 480px{
#recommender {
display:none;
}
}
h4#comment-post-message a {
    background: #000;
    padding: 5px 20px;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
}
span.datetime.secondary-text {
    display: none;
}
#comments li {
    list-style: none;
    background: #fff;
    margin: 15px 5px;
    padding: 5px;
    border-radius: 5px;
}
#comment-holder ol {
    padding: 0;
    margin: 0px 10px;
}
#comments h4 {
    text-align: center;
    font-size: 18px;
    margin: 20px 0px 5px 0px;
}
.loadmore {
    display: none;
}
.avatar-image-container {
    float: left;
    background: #fff;
    margin-right: 10px;
    border-radius: 100px;
}
.avatar-image-container img {
    border-radius: 100px;
    width: 50px;
    height: 50px;
}
.comment-actions {
    float: right;
}
.comment-actions a {
    margin: 0px 5px;
}
.comment-block {
    padding: 15px 10px;
}
.thread-toggle {
    position: relative;
    top: 10px;
}
.thread-toggle a {
    color:#000
}
.comment-actions a:last-child {
    color: #ed3725;
}
.comment-replies {
    background: #eee;
    margin: 20px -10px -8px -5px;
}
#comments h2 {
    text-align: center;
}
.clearfix a {
    color: #FF5722;
    margin-right: 10px;
}
.clearfix {
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
    padding: 10px;
    line-height: 1.9;
    color: #000;
}
.sidebar-box {
    max-height: 1600px;
    position: relative;
    overflow: hidden;
}
.sidebar-box .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 50px 0 69px 0;
    background: rgba(255, 255, 255, 0.7);
}
.sidebar-box .read-more li {
    list-style: none;
    margin: 0px 0px 50px 0px;
}
.read-more a:hover {
    background: #000;
    color: #fff;
}
#subscribed {
    padding: 15px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #000;
    color: #fff;
    background: #000;
    cursor: pointer;
    width: 300px;
    margin: auto;
	display:none
}
#not-subscribed {
    padding: 15px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    border: 0;
    color: #fff;
    cursor: pointer;
    width: 300px;
    background: #34d058;
    margin: auto;
    letter-spacing: 0.5px;
}
#not-subscribed:hover {
    background: #28a745;
}
#pushalert-ticker {
    display: none;
}
#lecture2 {
    display: none;
}
div#lecture p {
    font-size: 25px;
    margin: 20px 0px;
}
img#lock-img {
    width: 90px;
}
#slogo img {
    float: none;
width:150px
}
div#slogo {
    border-bottom: 2px solid #eee;
}
.nav-scroll {
    overflow: auto;
    white-space: nowrap;
    position: relative;
    padding: 5px 10px;
    background: #fff;
}
.nav-scroll a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    background: #ff5e00;
    border-radius: 100px;
}
.nav-scroll a:hover {
    background-color: #777
}
.nav-scroll img {
    width: 100px;
    float: left;
    height: 48px;
    background: #fff
}
#box {
    margin: 5px 0px;
}
form#box button {
    background: #ff5e00;
    border: 0;
    height: 29px;
    bottom: 0;
    width: 31px;
    cursor: pointer;
    outline: none;
    padding: 0;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    float: right;
}
#box button img {
    width: 23px;
    height: 23px;
}
#box input {
    border: 1px solid #aaa;
    padding: 6px 0px 6px 10px;
    width: 200px;
    border-right: 0;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.search {
    width: 242px;
    margin: auto;
}
.search-over {
    background: #fff;
    padding: 5px 0px;
}
#box input:focus {
    outline: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 800px;
}
.pirate {
  position: -webkit-sticky;
  position: sticky;
  top: 105px;
  margin-top:20px;
}
