#random-posts {
    position: fixed;
    bottom: 0;
    border-top: 3px solid #fbcb0d;
    width: 100%;
    padding: 10px 30px;
    left: 0;
    background: #fff;
    z-index: 99999;
}
#random-posts h3 {
    position: relative;
    right: 17px;
    bottom: 5px;
}
ul#random-posts li:first-child {
    padding-bottom: 5px;
width:300px;
}
ul#random-posts li{
width:300px;
}
#random-posts a{
color:#666
}
#hide {
    position: absolute;
    right: 70px;
    top: 5px;
    z-index: 99;
    font-size: 13px;
    font-weight: bold;
}
#show {
    position: fixed;
    bottom: 50px;
    right: 20px;
    padding: 5px 15px;
    font-size: 13px;
    font-weight: bold;
}
